.Rproj.user
.Rhistory
.RData
.Ruserdata
assignments/*/*.tex
slides/*/*_cache
slides/*/*_files
slides/*/libs
slides/*/*.css
slides/*/*.html
811-photo.pdf
reading
CAFE-full.csv
assignments/*/*_cache
assignments/*/*_files
roster/submissions_skills-1
roster/submissions_skills-2
house-elections.rds
lecture_720p.mov
