.Rproj.user
.Rhistory
.RData
.Ruserdata
assignments/*/*.tex
code/*/*_cache
code/*/*_files
slides/*/*_cache
slides/*/*_files
slides/*/libs
slides/*/*.css
slides/*/*.html
811-photo.pdf
reading
CAFE-full.csv
assignments/*/*_cache
assignments/*/*_files
roster/submissions_skills-1
roster/submissions_skills-2
house-elections.rds
lecture_720p.mov
SupremeCourt.csv
hall_house-primaries.dta
broockman_female-candidates.dta
*.aux
07_Rmd-deep-dive.tex
code/Rmd/07_rmd-deep-dive.docx
code/Rmd/07_rmd-deep-dive.html
code/Rmd/07_Rmd-deep-dive.bbl
code/Rmd/07_Rmd-deep-dive.bcf
code/Rmd/07_Rmd-deep-dive.blg
code/Rmd/07_Rmd-deep-dive.log
code/Rmd/07_Rmd-deep-dive.run.xml
code/Rmd/07_Rmd-deep-dive.toc
